body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}

.home-sc {
	position: relative;
	height: 100%;
	/*background: red;*/
}

.home-container {
	margin: 0 5%;
}

.home-title {
	padding-top: 20px;
	margin: 0 0 20px 0;
	color: #00ae8d;
}

.btn-m {
	background-color: #00ae8d;
	padding: 8px 10px;
	font-size: 0.9em;
	color: white;
	cursor: pointer;
}

.btn-m:hover {
	background-color: #21c8ab;
}

.create-new {
	/*float: left;*/
	display: inline-block;
	margin-bottom: 20px;
}

.contacts-container {
	overflow: hidden;
	border: 1px solid #ccc;
	max-height: 402px;
	overflow: auto;
	/*padding: 20px;*/
}

.contact-container {
	overflow: hidden;
	padding: 15px;
	cursor: pointer;
	border-bottom: 1px solid #ccc;
}

.contact-container:hover {
	background-color: #f2f2f2;
}

.contact-col {
	float: left;
}

.contact-srnum {
	width: 2%;
	/*float: left;*/
}

.contact-name {
	width: 10%;
	/*float: left;*/
}

.contact-num {
	width: 10%;
	/*float: left;*/
}

.contact-city {
	width: 10%;
}

.contact-icon {
	/*float: left;*/
}

.contact-modal {
	display: none;
	position: absolute;
	top:30%;
	left: 30%;
	width: 600px;
	height: 300px;
	text-align: center;
	background: white;
	border: solid 1px #21c8ab;
}

.modal-title {
	color: white;
	font-size: 2em;
	text-align: center;
	background-color: #21c8ab;
	padding: 30px 60px;
}

.modal-backdrop {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background:  rgba(0,0,0,0.8);
}

.contact-form-table {
	text-align: left;
	width: 300px;
	margin: 20px auto;
	/*display: inline;*/
}

.contact-submit {
	border: none;
}

.modal-cancel {
	display: inline-block;
}